@model List<DBProgrammingClass_III.Models.Customer>
@{
    ViewBag.Title = "CustomerList";
}

<link rel="stylesheet" href="~/Content/style.css" />
<script type="text/javascript" src="~/Content/app.js"></script>

<div>
    <div class="col-md-12">
        <h2><b>List of Customers</b></h2>
    </div>
</div>
<br />
<br />
@using (Html.BeginForm("CustomerList", "Customer", FormMethod.Get))
{
    <span><b>Search: </b></span>
    <input type="text" placeholder="Search by name..." name="searchByName" id="searchByName" />
    <input class="button" type="submit" value="Submit" />

    <div class="add" title="Add Customer">
        <h4><span data-toggle="tooltip"><b>@Html.ActionLink("Add a Customer", "AddCustomer", "Customer")</b></span></h4>
    </div>
    <table id="customers" class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Customer Name</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td><b>@customer.CustomerID</b></td>
                    <td data-toggle="tooltip" title="View Customer Details" onclick="getCustomerDetails('@customer.CustomerID');" scope="row" class="pointer"><b>@customer.Name</b></td>
                    <td>
                        <b>
                            <span data-toggle="tooltip" title="Edit Customer">@Html.ActionLink("Edit", "AddCustomer", "Customer", new { id = customer.CustomerID }, null)</span> ||
                            <span data-toggle="tooltip" title="Delete Customer">@Html.ActionLink("Delete", "Delete", "Customer", new { id = customer.CustomerID })</span>
                        </b>
                    </td>
                </tr>

            }
        </tbody>
    </table>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">
                        <b>Customer Details</b>
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

}



